<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="clientUser">
            <h2><span>Client User</span> {{clientUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Client</span></dt>
                <dd>
                    <div *ngIf="clientUser.client">
                        <a [routerLink]="['/client', clientUser.client?.id, 'view']">{{clientUser.client?.name}}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{clientUser.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client-user', clientUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
